/* pages/Home/style.Home.css */
.home-page {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-self: center;
    background-color:violet;
  }
  
  .page-title {
    font-size: 28px;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    padding: 0; /* Ensure no extra padding */
  }
  
  .page-description {
    font-size: 18px;
    display: flex;
    justify-content: start;
    align-self: center;
    align-items: start;
    margin: 0;
    padding: 0; /* Ensure no extra padding */
  }
  