:root {
    --chapter-height: 100%;
    --chapter-width: 200px;
    --chapter-title-height: 40px;
}

.section-chapter:first-of-type {
    border-radius: 15px 15px 0 0;
}

.section-chapter {
    background-color: #0d2136;
    width: calc(100% - 10px);
    height: auto;
    border: 1px solid rgb(13, 13, 140);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    margin: 0;
}

.chapter-title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    align-content: start;
    justify-items: start;
    color: white;
    font-size: 14px;
    margin: 0;
    padding: 0;
}

.chapter-title-text {
    color: #d3e3fd;
    font-size: 13px;
    font-family: Roboto, "helvetica neue", sans-serif;
    padding-left: 12px;
    text-overflow: ellipsis;
    transition: opacity .3s cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: .25px;
    margin: 0;
}

.expanded-chapter > .chapter-title {
    text-decoration: underline;
}

.chapter-expand-button {
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-self: center;
    align-items: center;
    margin-right: 5px;
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
}

.expand-image {
    width: 28px;
    height: 28px;
    object-fit: fill;
}

.chapter-content {
    height: 95%;
    width: 95%;
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: start;
    overflow-y: auto;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.shortened-chapter {
    text-decoration: none;
}

.shortened-chapter > .chapter-content {
    display: none;
}

.expanded-chapter > .chapter-title-text {
    text-decoration: underline;
}

.expanded-chapter > .chapter-content {
    display: flex;
}

.chapter-item {
    height: 40px;
    width: calc(100% - 10px);
    border-left: 1px solid rgb(13, 13, 140);
    border-right: 1px solid rgb(13, 13, 140);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
    align-self: center;
}

.item-title-text {
    color: #d3e3fd;
    font-size: 12px;
    font-family: Roboto, "helvetica neue", sans-serif;
    padding-left: 16px;
    text-overflow: ellipsis;
    transition: opacity .3s cubic-bezier(0.4, 0, 0.2, 1);
    white-space: nowrap;
    overflow: hidden;
    cursor: pointer;
    letter-spacing: .25px;
    text-align: center;    
}

.item-icon-image {
    width: 25px;
    height:25px;
}

.shorten-button {
    color: white;
    margin: 0;
    padding: 0;
}

.expand-button {}