/* components/Sidebar.css */
.sidebar {
    height: 100%;
    width: 200px;
    background-color: #444;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;    

    margin: 0;
    padding: 0;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2);
  }

  .toggle-image {
    width: 35px;
    height: 35px;
    object-fit: fill;
  }

  .sidebar-section {
    background-color: rgb(93, 34, 85);
    width: 95%;
    display: flex;
    flex-direction:column;
    align-self: center;
    margin: 0;
    padding: 0;
  }
  
  .sidebar-top-section {
    height: 15%;
    max-height: 100%;
    border: none;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    background-color: rgb(130, 130, 249);
  }

  .sidebar-middle-section {
    height: 60%;
    width: 95%;
    background-color: rgb(58, 58, 255);
    justify-content: center;
    align-items: center;
    
  }

<<<<<<< HEAD
  .sidebar-footer-section {
    height: 25%;
    background-color: darkblue;
  }

  .section-title {
    height: auto;
    width: 90%;
    color: grey;
    font-size: 12px;    
    background-color: aquamarine;
  }

  .section-title-text {
    text-align: left;
    padding-left: 15px;
  }

  .chapter {
    width: 90%;
    height: auto;
    background-color: darkred;
    border: 1px solid rgb(104, 104, 214);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;

    margin: 0;
    padding: 0;
  }

  .assistance-chapter {
    border-radius: 15px 15px 0 0;
  }

  .chapter-title{
    background-color: rgb(241, 123, 39);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    align-content: start;
    justify-items: start;
    color: white;
    font-size: 15px;
    border: 1px solid rgb(93, 34, 85);
    margin: 0;
    padding: 0;
  }

  .chapter-title-text {
  }

  .chapter-expand-button {
    background-color: rgb(146, 68, 68);
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .expand-image {
=======
  .toggle-image {
>>>>>>> bd73a2a (Added Working Sliding Bar)
    width: 35px;
    height: 35px;
    object-fit: fill;
  }

<<<<<<< HEAD
  .chapter-content {
    display: none;
  }

  .chapter-item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-self: center;
    align-items: center;
  }

=======
  .top-section {
    max-height: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 10px;
  }
>>>>>>> bd73a2a (Added Working Sliding Bar)
