
.chapter {
    width: 90%;
    height: auto;
    background-color: darkred;
    border: 1px solid rgb(104, 104, 214);
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;

    margin: 0;
    padding: 0;
  }

  .assistance-chapter {
    border-radius: 15px 15px 0 0;
  }

  .chapter-title{
    background-color: rgb(241, 123, 39);
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    align-content: start;
    justify-items: start;
    color: white;
    font-size: 15px;
    border: 1px solid rgb(93, 34, 85);
    margin: 0;
    padding: 0;
  }

  .chapter-title-text {
  }

  .chapter-expand-button {
    background-color: rgb(146, 68, 68);
    color: white;
    font-size: 15px;
    margin: 0;
    padding: 0;
  }

  .expand-image {
    width: 35px;
    height: 35px;
    object-fit: fill;
  }

  .chapter-content {
    display: none;
  }

